<!DOCTYPE html>
  <html lang="pt">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Livros</title>
  </head>
<body>
  <h2>Lista de Livros</h2>    
     <table border="1">
      <thead>
        <tr>                
          <th>Nome</th>
          <th>Ano Publicação</th>
          <th>Editora</th>
          <th>Edição</th>
          <th>Valor</th>
          <th>Autores</th>
          <th>Assuntos</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let livro of livros">                
          <td>{{livro.titulo}}</td>
          <td>{{livro.anoPublicacao}}</td>
          <td>{{livro.editora}}</td>
          <td>{{livro.edicao}}</td>
          <td>{{livro.valor}}</td>  
          <td>
            <ul>
              <li *ngFor="let autor of livro.autores">{{ autor.nome }}</li>
            </ul>
          </td>
          <td>
            <ul>
              <li *ngFor="let assunto of livro.assuntos">{{ assunto.descricao }}</li>
            </ul>
          </td>
          <td>
            <button (click)="editar(livro.codL)">Editar</button>
            <button (click)="confirmarExclusao(livro.codL)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button (click)="novo()">Criar Novo Livro</button>
  </body>
</html>
