
<!DOCTYPE html>
  <html lang="pt">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Assuntos</title>
  </head>
<body>
  <h2>Lista de Autores</h2>    
     <table border="1">
      <thead>
        <tr>                
          <th>Nome</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let assunto of assuntos">                
          <td>{{assunto.descricao}}</td>
          <td>
            <button (click)="editar(assunto.codAs)">Editar</button>
            <button (click)="confirmarExclusao(assunto.codAs)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>

    <button (click)="novo()">Criar Novo Assunto</button>
  </body>
</html>
