<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Livro</title>
</head>
<body>

  <h2>Cadastro de Livro</h2>

  <form [formGroup]="formulario">

    <label for="inputTexto">Título:</label>
    <input type="text" id="titulo" formControlName="titulo" placeholder="Título">    
    <label for="inputTexto">Editora:</label>
    <input type="text" id="editora" formControlName="editora" placeholder="Editora">    
    <label for="inputTexto">Edição:</label>
    <input type="text" id="edicao" formControlName="edicao" placeholder="Edição">
    <label for="inputTexto">Ano Publicação:</label>
    <input type="text" id="anoPublicacao" formControlName="anoPublicacao" placeholder="Ano Publicação">
    <label for="inputTexto">Valor:</label>
    <input type="text" id="valor" formControlName="valor" placeholder="Valor">
    <label for="autor">Autores:</label>
    <select id="autor" formControlName="autores" multiple>
      <option *ngFor="let autor of autores" [value]="autor.codAu">{{ autor.nome }}</option>
    </select>
    <label for="autor">Assuntos:</label>
    <select id="assuntos" formControlName="assuntos" multiple>
      <option *ngFor="let assunto of assuntos" [value]="assunto.codAs">{{ assunto.descricao }}</option>
    </select> 
    <button (click)="salvar()">Salvar</button>
    
  </form>
</body>
</html>