<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ titulo }}</title>  
</head>
<body>

  <div class="container mt-5">
    <h2 class="mb-4">{{titulo}}</h2>

    <form [formGroup]="formulario" class="row g-3">
      <div class="col-md-6">
        <label for="titulo" class="form-label">Título:</label>
        <input type="text" id="titulo" formControlName="titulo" class="form-control">
      </div>

      <div class="col-md-6">
        <label for="editora" class="form-label">Editora:</label>
        <input type="text" id="editora" formControlName="editora" class="form-control">
      </div>

      <div class="col-md-4">
        <label for="edicao" class="form-label">Edição:</label>
        <input type="text" id="edicao" formControlName="edicao" class="form-control">
      </div>

      <div class="col-md-4">
        <label for="anoPublicacao" class="form-label">Ano Publicação:</label>
        <input type="text" id="anoPublicacao" formControlName="anoPublicacao" class="form-control" (input)="onAnoPublicacaoInput()" >
      </div>

      <div class="col-md-4">
        <label for="valor" class="form-label">Valor:</label>
        <input type="text" id="valor" formControlName="valor" class="form-control" placeholder="R$ 0,00" (input)="onValorInput()">
      </div>

      <div class="col-md-6">
        <label for="autor" class="form-label">Autores:</label>
        <select id="autor" formControlName="autores" class="form-select" multiple>
          <option *ngFor="let autor of autores" [value]="autor.codAu">{{ autor.nome }}</option>
        </select>
      </div>

      <div class="col-md-6">
        <label for="assuntos" class="form-label">Assuntos:</label>
        <select id="assuntos" formControlName="assuntos" class="form-select" multiple>
          <option *ngFor="let assunto of assuntos" [value]="assunto.codAs">{{ assunto.descricao }}</option>
        </select>
      </div>

      <div class="col-12">
        <button type="button" class="btn btn-primary me-2" (click)="salvar()">Salvar</button>
        <button type="button" class="btn btn-secondary" (click)="voltar()">Voltar</button>
      </div>
    </form>
  </div>

  <!-- Link para o JS do Bootstrap (opcional) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
