<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Web</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        nav {
            background-color: #333;
            overflow: hidden;
        }
        nav a {
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 14px 20px;
            text-decoration: none;
        }
        nav a:hover {
            background-color: #575757;
        }
    </style>
</head>
<body>

    <nav>
        <a routerLink="/home" >Home</a>
        <a routerLink="/autores" >Autores</a>
        <a routerLink="/assuntos" >Assuntos</a>
        <a routerLink="/livros" >Livros</a>
    </nav>

</body>
</html>
<div>
<router-outlet></router-outlet>
</div>